<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Backbone.Viewによるモデルデータの表示</title>

  <!-- ライブラリの読み込み -->
  <script src="../lib/jquery-1.12.4.js"></script>
  <script src="../lib/underscore.js"></script>
  <script src="../lib/backbone.js"></script>
  <!-- 自分が書いたコードの読み込み -->
  <script src="main_01.js"></script>
</head>
<body>

<script type="text/template" id="contact-template">
<div>Name: <%= firstName %> <%= lastName %></div>
<div>Email: <%= email %></div>
</script>

</body>
</html>
